# Python
__pycache__/
*.py[cod]

# macOSgit 
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

test_router.py
test_assistant.py 
test_generator.py 
test_model.py
test_prompt.py
test.py
